:host {
  box-sizing: border-box;
  display: block;
}

.-cl-container {
  box-sizing: border-box;
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
}

.-cmp-actions-bar {
  display: flex;
  flex-direction: row;
  padding: 1em 0px;

  column-gap: 8px;

  & > .-cl-meta {
    margin-left: auto;
  }
}
