:host {
  box-sizing: border-box;
  display: block;
}

.-cl-hidden {
  display: none !important;
}

.-cl-number-data {
  display: inline-block;
  width: 3ch;
}

.-cmp-search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: stretch;

  margin-top: 1em;
  margin-bottom: 1em;

  & > .-cl-field {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;

    flex: 1 0 auto;

    & > * {
      box-sizing: border-box;
      height: 100%;
    }

    & > .-cl-control {
      flex: 1 0 auto;
    }
  }
}

.-cmp-actions-bar {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;

  & > .-cmp-pagination {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
}

.-cmp-resoures-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  margin-top: 1em;
  padding-bottom: 1em;
}

.-cmp-resource {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  padding: 8px 3ch;

  cursor: pointer;

  & > * {
    margin: 0px;
    padding: 0px;
  }

  & > .-cl-title {
    font-weight: bold;
  }

  & > .-cl-meta {
    margin-left: auto;
  }
}
