:host {
  color: rgb(0 0 0 / 50%);
  background: linear-gradient(to right, #fff 30%, #000 45%, #000 55%, #fff 70%);
  background-size: 200% auto;
  background-clip: text;

  animation:
    shine 0.5s linear infinite,
    appear var(---appear-delay, 0s) ease-in forwards;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
