<dl class="app-cmp-data-list">
  <dt class="app-cl-title">Name</dt>
  <dd>
    {{ parsedData().name }}
    <a
      href="https://www.starwars.com/databank/{{ normalizedName() }}"
      target="_blank"
      class="-cl-link"
    >
      <i class="material-symbols-outlined">open_in_new</i>
    </a>
  </dd>

  <dt class="app-cl-title">Diameter</dt>
  <dd>
    <ng-container *appSwNumber="let value of parsedData().diameter">
      <span class="app-cl-number -cl-number-data">{{ value | number }}</span>
      km
    </ng-container>
  </dd>

  <dt class="app-cl-title">Rotation Period</dt>
  <dd>
    <ng-container *appSwNumber="let value of parsedData().rotation_period">
      <span class="app-cl-number -cl-number-data">{{ value | number }}</span>
      hours
    </ng-container>
  </dd>

  <dt class="app-cl-title">Orbital Period</dt>
  <dd>
    <ng-container *appSwNumber="let value of parsedData().orbital_period">
      <span class="app-cl-number -cl-number-data">{{ value | number }}</span>
      days
    </ng-container>
  </dd>

  <dt class="app-cl-title">Population</dt>
  <dd>
    <ng-container *appSwNumber="let value of parsedData().population">
      <span class="app-cl-number -cl-number-data">{{ value | number }}</span>
      people
    </ng-container>
  </dd>

  <dt class="app-cl-title">Surface Water</dt>
  <dd>
    <ng-container *appSwNumber="let value of parsedData().surface_water">
      <span class="app-cl-number -cl-number-data">{{ value | number }}</span>
      %
    </ng-container>
  </dd>

  <dt class="app-cl-title">Gravity</dt>
  <dd>{{ parsedData().gravity }}</dd>

  <dt class="app-cl-title">Climate</dt>
  <dd>{{ parsedData().climate }}</dd>

  <dt class="app-cl-title">Terrain</dt>
  <dd>{{ parsedData().terrain }}</dd>

  <dt class="app-cl-title">Residents</dt>
  <dd>
    <ul class="-cl-container">
      @for (resident of parsedData().residents; track $index) {
        <li>
          <a
            *appSwResource="let $resident of resident()"
            [href]="$resident.id"
            (click)="$event.preventDefault()"
            (click)="onLinkClick($resident.id)"
            class="-cl-link"
            >{{ $resident.name }}</a
          >
        </li>
      }
    </ul>
  </dd>

  <dt class="app-cl-title">Created</dt>
  <dd>{{ parsedData().created | date: 'medium' }}</dd>

  <dt class="app-cl-title">Edited</dt>
  <dd>{{ parsedData().edited | date: 'medium' }}</dd>
</dl>
