<dl class="app-cmp-data-list">
  <dt class="app-cl-title">Name</dt>
  <dd>
    {{ parsedData().name }}
    <a
      href="https://www.starwars.com/databank/{{ normalizedName() }}"
      target="_blank"
      class="-cl-link"
    >
      <i class="material-symbols-outlined">open_in_new</i>
    </a>
  </dd>

  <dt class="app-cl-title">Gender</dt>
  <dd>
    {{ parsedData().gender }}
    {{
      parsedData().gender === 'male' ? '♂️'
      : parsedData().gender === 'female' ? '♀️'
      : ''
    }}
  </dd>

  <dt class="app-cl-title">Birth Year</dt>
  <dd>
    <span class="app-cl-code">{{ parsedData().birth_year }}</span>
  </dd>

  <dt class="app-cl-title">Height</dt>
  <dd>
    <span class="app-cl-number -cl-number-data">{{ parsedData().height }}</span>
    cm
  </dd>

  <dt class="app-cl-title">Mass</dt>
  <dd>
    <span class="app-cl-number -cl-number-data">{{ parsedData().mass }}</span>
    kg
  </dd>

  <dt class="app-cl-title">Homeworld</dt>
  <dd>
    <ng-container *appSwResource="let $homeworld of parsedData().homeworld()">
      {{ $homeworld.name }}
    </ng-container>
  </dd>

  <dt class="app-cl-title">Species</dt>
  <dd>
    @if (parsedData().species.length === 0) {
      -
    } @else {
      @for (species of parsedData().species; track $index) {
        <ng-container *appSwResource="let $species of species()">
          <a
            [href]="$species.url"
            (click)="$event.preventDefault()"
            (click)="onLinkClick($species.url)"
            class="-cl-link"
            >{{ $species.name }}</a
          >
        </ng-container>
      }
    }
  </dd>

  <dt class="app-cl-title">Created</dt>
  <dd>{{ parsedData().created | date: 'medium' }}</dd>

  <dt class="app-cl-title">Edited</dt>
  <dd>{{ parsedData().edited | date: 'medium' }}</dd>
</dl>
